<!DOCTYPE html>
<html>

<head>
  <title>brixbiz</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" >
  <link rel="stylesheet" href="styles/styles.css" >
  <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
  
        <a class="navbar-brand" href="/index">bricksbiz</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/index">Home</a></li>
        <li class="active"><a href="/aboutus">About Us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>
  

  {{{body}}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/server.js"></script>
  <script>
    
    function initMap() {
        var options = {
          zoom: 12.25,
          center: {
            lat: 40.6782,
            lng: -73.9442
          },
          mapTypeId: "roadmap"
        };

        // New Map
        var map = new google.maps.Map(document.getElementById("map"), options);

        //   // //Add Marker
        var marker = new google.maps.Marker({
          position: { lat: 40.6782, lng: -73.9442 },
          map: map,
          icon: ' ',
        });
        

        addMarker({
          coord: { lat: 40.6826, lng: -73.9754 },
          iconImage: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfDST0LL_KuS-m0NCo9xVju719WHnwFdI3qug7tHcycQSScRoulA'
        });

        function addMarker(props) {
          var marker = new google.maps.Marker({
            position: props.coords,
            map: map
            // icon: props.iconImage
          });

          if (props.iconImage) {
            marker.setIcon(props.iconImage);
          }
        }
      }
  </script>
    
    <script>
     var googleapi = process.env.GoogleAPI;</script>
</body>
<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>© 2018 Copyright
    <br><a href="https://www.brixbiz.com">www.brixbiz.com</a></p>
</footer>
</html>
