<div class="container-fluid bg-2 text-center">
    <h2 class="margin">brixbiz</h2>
    brixbiz (also bricks and mortar) refers to a physical presence of an organization or business in a
    building or other structure. The term brick-and-mortar business is often used to refer to a company that possesses or
    leases retail shops, factory production facilities, or warehouses for its operations.
    Therefore, Brixbiz is designed to provide an alternative to big corporations and drive consumer traffic to small mom and pop shops
    shops in local area in effect helping out the little guys.
    Help save brick and mortar business with Brixbiz
</div>