
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand" href="/">brixbiz</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="active"><a href="/aboutus">About Us</a></li>
      <li class="active"><a href="/businesses">For Businesses</a></li>
      <li class="active"><a href="/courier">Become a Courier</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid bg-2 text-center">
  <h2 class="margin">brixbiz-Businesses</h2>
  <p>Our goal is to create a platform on which small businesses can get noticed by the online consumer and thrive</p>
  <br>
  <p>By joining our community as a small business owner, you'll be able to showcase your business to our users. Additionally, you'll have the opportunity to add your inventory to your profile and users will be able to find you by what you're selling.\n</p>
  <p>Mobile orders and delivery services coming soon</p>
  <br>
  <p>Not an owner but know a mom and pop shop the internet needs to know about? Add them to our directory and we'll reach out to them</p>
  
  <a href="#" id="biz-join" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Join our community
  </a>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span>  
  </a>
</div>

<!-- <div id="viewDiv"></div> -->
<!-- Second Container -->


{{!-- This page will display types of businesses --}}
{{!-- Elevator pitch --}}
{{!-- Why mom and pop shops should sign up --}}
{{!-- Benefits to the owners --}}
{{!-- i.e. list your business in our directory --}}
{{!-- add your inventory and make it available to help find your business --}}
{{!--  --}}


<!-- Footer -->
<footer class="container-fluid bg-4 text-center">
  <p>BRIXBIZ <a href="https://www.brixbiz.com">www.brixbiz.com</a></p>
</footer>

