<div class="container-fluid bg-2 text-center">
    <h2 class="margin">brixbiz - Businesses</h2>
    <p>Our goal is to create a platform on which small businesses can get noticed by the online consumer and thrive</p>
    <br>
    <p>By joining our community as a small business owner, you'll be able to showcase your business to our users.
        Additionally, you'll have the opportunity to add your inventory to your profile and users will be able to find
        you by what you're selling.</p>
    <p>Mobile orders and delivery services coming soon</p>
    <br>
    <p>Not an owner but know a mom and pop shop the internet needs to know about? Add them to our directory and we'll
        reach out to them</p>

    <a href="addbus" id="biz-join" class="btn btn-default btn-lg">
        <span class="glyphicon"></span> Join our community
    </a>
    
</div>