
<div class="container-fluid bg-2 text-center">
  <h2 class="margin">brixbiz</h2>
  <p>re-DISCOVER America's Small Business</p>
  
  <br>
  <p>Deliver on your own time</p>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> find mom and pop shops
  </a>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Apply Today
  </a>
</div>

<!-- <div id="viewDiv"></div> -->
<!-- Second Container -->
<div class="container-fluid bg-1 text-center">


