
<div class="container-fluid bg-2 text-center">
  <h2 class="margin">brixbiz - Courier </h2>
  <p>re-DISCOVER America's Small Business</p>
  
  <br>
  <p>Deliver on your own time</p>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon"></span> Apply today!
  </a>
</div>

<!-- <div id="viewDiv"></div> -->
<!-- Second Container -->





 

