

<!-- First Container -->
<div class="container-fluid bg-2 text-center">

  <h2 class="margin">brixbiz - WELCOME </h2>
  <p>Re-discover America's Small Business</p>
  <p>Find small businesses by category or inventory</p>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> small businesses by category
  </a>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> small businesses by inventory 

  </a>
</div>

<!-- <div id="viewDiv"></div> -->
<!-- Second Container -->


<div class="container-fluid bg-1 text-center">

  <div id="map"></div>

</div>

 



<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Colaborators</h3><br>
  <div class="row">
    <div class="col-sm-3">

      <p>Abigail Ettore</p>
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/44672360_727885140920498_2679156129153417216_o.jpg?_nc_cat=109&_nc_oc=AQk9RT0A3wMLbwsvYE1eOBORnVog13n0Vadof8cFvEYHjYIm4yp9PtlUG9vEcNFcvbQ&_nc_ht=scontent-lga3-1.xx&oh=2a008e1cce24f862c367165ceb45f78d&oe=5DD7CBE5" class="img-responsive margin" style="width:100%" alt="Abby">
    </div>
    <div class="col-sm-3">
      <p>Daniel LaZenberry</p>
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/44956592_113208663008261_8206829139898925056_n.jpg?_nc_cat=101&_nc_oc=AQm5iRRhCIFPyrvKDHgthvVH9f1FJ3ckcVVc2DwpFT_uFi73QVoAH0K6U7ttbNjf2Y0&_nc_ht=scontent-lga3-1.xx&oh=395e95df153a6d222e05c68a02c1545b&oe=5DD43439" class="img-responsive margin" style="width:100%" alt="Daniel">
    </div>
    <div class="col-sm-3">
      <p>Gabi Menezes</p>
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/13164381_10156870538370641_2070128455451877156_n.jpg?_nc_cat=104&_nc_oc=AQnDD34MK2vE1qi7EmKY6pnRjb0XsoVD0c6sQdMYA8eyE66mPNaG_dzWd7FTu4wwpZw&_nc_ht=scontent-lga3-1.xx&oh=282029ae520cc12ea1a54145dadadd77&oe=5DCCA979" class="img-responsive margin" style="width:100%" alt="Gabi">
    </div>
    <div class="col-sm-3">
      <p>Mat Bednara</p>
      <img src="https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/18342059_10211726883515021_5518139615918359172_n.jpg?_nc_cat=103&_nc_oc=AQnX4oHCThOvE4SDeO3UBGH-0EX8R1TQdKmwLye9bjPHA3zHUQtDWYHJI5Vv8_F29ks&_nc_ht=scontent-lga3-1.xx&oh=16d181059b2e2f87da5fe88c5cf553c0&oe=5DCCEA6E" class="img-responsive margin" style="width:100%" alt="Mat">
    </div>
  </div>
</div>



