

<!-- First Container -->
<div class="container-fluid bg-2 text-center">

  <h2 class="margin">brixbiz - WELCOME </h2>
  <p>Re-discover America's Small Business</p>
  <p>Find small businesses by category or inventory</p>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> small businesses by category
  </a>
  <a href="#" id="search" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> small businesses by inventory 

  </a>
</div>

<!-- <div id="viewDiv"></div> -->
<!-- Second Container -->


<div class="container-fluid bg-1 text-center">

  <div id="map"></div>

</div>

 



<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">
  <h3 class="margin">Colaborators</h3><br>
  <div class="row">
    <div class="col-sm-3">

      <p>Abigail Ettore</p>
      {{!-- <img src="/abby.jpg" class="img-responsive margin" style="width:100%" alt="Image"> --}}
    </div>
    <div class="col-sm-3">
      <p>Daniel LaZenberry</p>
      {{!-- <img src="daniel.jpg" class="img-responsive margin" style="width:100%" alt="Image"> --}}
    </div>
    <div class="col-sm-3">
      <p>Gabi Menezes</p>
      {{!-- <img src="gabi.jpg" class="img-responsive margin" style="width:100%" alt="Image"> --}}
    </div>
    <div class="col-sm-3">
      <p>Mat Bednara</p>
      {{!-- <img src="mat.jpg" class="img-responsive margin" style="width:100%" alt="Image"> --}}
    </div>
  </div>
</div>

<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGlnaWRhbiIsImEiOiJjanl4bDd6OXEwbzg0M2RvN3h2eXBsMXU2In0.E3eYmRM77woB_BmOlox9nQ'; // replace this with your access token
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/digidan/cjyyzi7w449rv1cs1xeh35qxs', // replace this with your style URL
    center: [-73.899,40.650],
    zoom: 10.7
  });
</script>

