<div class="container-fluid bg-2 text-center">
    <h2 class="margin">brixbiz</h2>
    <p>Find your people. Engage your customers. Build your brand. Do it all with brixbiz. Already have
        an account? <a href="/signin">Log in</a></p>
    <form id="signin" name="signin" method="post" action="signin">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign In" />
    </form>